.nav-link-item:hover {
  cursor: pointer !important;
  color: blueviolet !important;
}
.nav-link-item {
  padding: 5px !important;
  margin: 0px 10px 0px 10px !important;
  transition: all 0.2s ease-in-out !important;
}
.it {
  font-weight: bold !important;
  margin-top: 10px !important;
}
.contact_btn {
  padding: 10px 20px 10px 20px !important;
  font-weight: bold !important;
  font-size: 20px !important;
  position: absolute;
  right: 40px !important;
  bottom: 15px !important;
  transition: 0.2s all ease-in-out !important;
}
.contact_btn:hover {
  bottom: 20px !important;
}
/* @media screen and (max-width: 768px) {
  .hello {
    display: none !important;
  }
  .nav-link-item {
    display: none !important;
  }
} */

.nav_image {
  margin-bottom: 10px !important;
}
