.text-line.text-primary:before {
  background-color: #3f78e0;
  padding-left: 40px;
}
.text-line:before {
  content: "";
  position: absolute;
  display: inline-block;
  top: 50%;
  transform: translateY(-60%);
  left: 0;
  width: 0.75rem;
  height: 0.05rem;
  background: #3f78e0;
}
